@import './util.scss';

#conteinerDeMensagens {
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 999;
	
	display: flex;
	flex-direction: column;
	gap: 10px;
	#mensagem {

		.m-container {
			width: fit-content;
			height: 84px;
			padding: 0px 12px 0px 12px;
			border-radius: $radius_i_b;
		
			background-color: $button_bg;  
		
			@extend %flex_center;
		
			.m-texto {
				color: white;
			}
		}
	}
}


#emailVerificadoMensagem {
	width: 100%;
	height: 180px;

	display: flex;
	justify-content: center;

	position: absolute;
	top: 20px;
	z-index: 999;
	
	.veri-email-container {

		animation: mensagemVerificaEmail 250ms linear;
		
		height: 94px;
		border-radius: $radius_i_b;
		padding: 8px;

		background-color: $button_bg;  

		@extend %flex_center;

		.veri-email-texto {
			color: white;
			@extend %void_text;

			animation: textInvisivel 350ms;
		}
	}	
}

@keyframes mensagemVerificaEmail {
	from {
		width: 0px;
	}
	to {
		width: fit-content;
	}
}

@keyframes textInvisivel {
	0%{
		color: transparent;
	}
	50% {
		color: transparent;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		color: white;
	}
}
