@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
#emailVerificadoMensagem .veri-email-container, .m-container, .isolate-login, .isolate .main .main_content .content_articles .tasks .trash, .isolate .main .main_content .content_header .content_completed .completed-counter, .isolate .main .main_content .content_header .content_task-create .task-counter, .isolate .main .main_content .content_header .content_task-create, .isolate .container_header .header .header_input .button, .isolate .container_header .header .header_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.isolate-login .c-login .form-control .form-login, .isolate-login .c-login, .isolate .main .main_content .content_articles .articles-void {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.isolate .main .main_content .content_header .content_completed .completed-counter, .isolate .main .main_content .content_header .content_task-create .task-counter {
  background-color: #333333;
  width: 2.2rem;
  height: 2rem;
  border-radius: 50%;
  color: #D9D9D9;
}

#emailVerificadoMensagem .veri-email-container .veri-email-texto, .isolate-login .c-login .form-control .form-login .label-login, .isolate .main .main_content .content_articles .articles-void .void-small, .isolate .main .main_content .content_articles .articles-void .void-p {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 140%;
  font-weight: 700;
  font-style: normal;
}

.isolate .container_header {
  width: 100%;
  height: 20rem;
  background-color: #0D0D0D;
}
.isolate .container_header .header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.isolate .container_header .header .header_title {
  gap: 1.2rem;
  margin-bottom: 5rem;
}
.isolate .container_header .header .header_title .header_h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #4EA8DE;
}
.isolate .container_header .header .header_title .header_h1 .header_h1-cor {
  color: #5E60CE;
}
.isolate .container_header .header .header_input {
  width: 70.36rem;
  height: 5.4rem;
  display: flex;
  gap: 0.8rem;
}
.isolate .container_header .header .header_input .input {
  width: 60.38rem;
  height: 100%;
  border-radius: 0.8rem;
  border: 1px solid #0D0D0D;
  outline: none;
  background-color: #262626;
  padding-left: 1.6rem;
}
.isolate .container_header .header .header_input .input:focus {
  border: 1px solid #8284FA;
  color: white;
}
.isolate .container_header .header .header_input .button {
  width: 9rem;
  height: 100%;
  background-color: #1E6F9F;
  border-radius: 0.8rem;
  border: 1px solid #0D0D0D;
  outline: none;
  color: white;
  gap: 0.8rem;
}
.isolate .container_header .header .header_input .button:hover {
  transform: translateY(0.3rem);
  background-color: #4EA8DE;
}

#emailVerificadoMensagem .veri-email-container, .m-container, .isolate-login, .isolate .main .main_content .content_articles .tasks .trash, .isolate .main .main_content .content_header .content_completed .completed-counter, .isolate .main .main_content .content_header .content_task-create .task-counter, .isolate .main .main_content .content_header .content_task-create, .isolate .container_header .header .header_title, .isolate .container_header .header .header_input .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.isolate-login .c-login .form-control .form-login, .isolate-login .c-login, .isolate .main .main_content .content_articles .articles-void {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.isolate .main .main_content .content_header .content_completed .completed-counter, .isolate .main .main_content .content_header .content_task-create .task-counter {
  background-color: #333333;
  width: 2.2rem;
  height: 2rem;
  border-radius: 50%;
  color: #D9D9D9;
}

#emailVerificadoMensagem .veri-email-container .veri-email-texto, .isolate-login .c-login .form-control .form-login .label-login, .isolate .main .main_content .content_articles .articles-void .void-small, .isolate .main .main_content .content_articles .articles-void .void-p {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 140%;
  font-weight: 700;
  font-style: normal;
}

.isolate .main {
  display: grid;
  grid-template-columns: 1fr 70.38rem 1fr;
  padding-top: 6.4rem;
}
.isolate .main .main_content .content_header {
  width: 100%;
  height: 1.9rem;
  display: flex;
  justify-content: space-between;
}
.isolate .main .main_content .content_header .content_task-create {
  gap: 0.8rem;
}
.isolate .main .main_content .content_header .content_task-create .task-p {
  color: #1E6F9F;
  font-size: 1.4rem;
  font-weight: 700;
}
.isolate .main .main_content .content_header .content_completed {
  display: flex;
  gap: 0.8rem;
}
.isolate .main .main_content .content_header .content_completed .completed-p {
  color: #8284FA;
  font-size: 1.4rem;
  font-weight: 700;
}
.isolate .main .main_content .content_articles {
  width: 100%;
  height: auto;
  padding-top: 2.4rem;
}
.isolate .main .main_content .content_articles .articles-void {
  width: 100%;
}
.isolate .main .main_content .content_articles .articles-void .void-p {
  color: #808080;
  margin-top: 1.6rem;
}
.isolate .main .main_content .content_articles .articles-void .void-small {
  color: #333333;
}
.isolate .main .main_content .content_articles .tasks {
  width: 100%;
  height: auto;
  padding: 1.6rem;
  border-radius: 0.8rem;
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  margin-bottom: 1.2rem;
}
.isolate .main .main_content .content_articles .tasks .checked .checked_input {
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: purple;
}
.isolate .main .main_content .content_articles .tasks .tasks_text .tasks-p {
  color: #F2F2F2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
}
.isolate .main .main_content .content_articles .tasks .trash {
  width: 2.4rem;
  height: 2.4rem;
}
.isolate .main .main_content .content_articles .tasks .trash > svg:hover {
  border-radius: 0.8rem;
  background-color: #333333;
  fill: #E25858;
}
#emailVerificadoMensagem .veri-email-container, .m-container, .isolate-login, .isolate .container_header .header .header_title, .isolate .container_header .header .header_input .button, .isolate .main .main_content .content_header .content_task-create, .isolate .main .main_content .content_header .content_task-create .task-counter, .isolate .main .main_content .content_header .content_completed .completed-counter, .isolate .main .main_content .content_articles .tasks .trash {
  display: flex;
  justify-content: center;
  align-items: center;
}

.isolate-login .c-login .form-control .form-login, .isolate-login .c-login, .isolate .main .main_content .content_articles .articles-void {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.isolate .main .main_content .content_header .content_task-create .task-counter, .isolate .main .main_content .content_header .content_completed .completed-counter {
  background-color: #333333;
  width: 2.2rem;
  height: 2rem;
  border-radius: 50%;
  color: #D9D9D9;
}

#emailVerificadoMensagem .veri-email-container .veri-email-texto, .isolate-login .c-login .form-control .form-login .label-login, .isolate .main .main_content .content_articles .articles-void .void-p, .isolate .main .main_content .content_articles .articles-void .void-small {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 140%;
  font-weight: 700;
  font-style: normal;
}

.isolate-login {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
}
.isolate-login .c-login {
  width: 100%;
}
.isolate-login .c-login .h1-login {
  color: white;
  font-size: 2.9rem;
}
.isolate-login .c-login .b-forms {
  margin-top: 20px;
}
.isolate-login .c-login .b-forms .b-forms-c {
  width: 9rem;
  height: 28px;
  background-color: #1E6F9F;
  border-radius: 0.8rem;
  border: 1px solid #0D0D0D;
  outline: none;
  color: white;
}
.isolate-login .c-login .b-forms .b-forms-c:hover {
  transform: translateY(0rem);
  background-color: #4EA8DE;
}
.isolate-login .c-login .form-control {
  width: 60.38rem;
}
.isolate-login .c-login .form-control .form-login {
  margin-top: 10px;
  gap: 0.8rem;
}
.isolate-login .c-login .form-control .form-login .h2-login {
  color: white;
}
.isolate-login .c-login .form-control .form-login .label-login {
  color: white;
}
.isolate-login .c-login .form-control .form-login .input-login {
  width: 60.38rem;
  height: 45px;
  border-radius: 0.8rem;
  border: 1px solid #0D0D0D;
  outline: none;
  background-color: #262626;
  padding-left: 1.6rem;
  color: white;
}
.isolate-login .c-login .form-control .form-login .input-login:focus {
  border: 1px solid #8284FA;
  color: white;
}
.isolate-login .c-login .form-control .form-login .button-login {
  width: 9rem;
  height: 28px;
  background-color: #1E6F9F;
  border-radius: 0.8rem;
  border: 1px solid #0D0D0D;
  outline: none;
  color: white;
}
.isolate-login .c-login .form-control .form-login .button-login:hover {
  transform: translateY(0.3rem);
  background-color: #4EA8DE;
}
.isolate-login .c-login .div-redefinir {
  width: 60.38rem;
  margin-top: 15px;
}
.isolate-login .c-login .div-redefinir .button-redefinir {
  width: fit-content;
  height: 28px;
  padding: 0px 8px 0px 8px;
  background-color: #1E6F9F;
  border-radius: 0.8rem;
  border: 1px solid #0D0D0D;
  outline: none;
  color: white;
}
.isolate-login .c-login .div-redefinir .button-redefinir:hover {
  transform: translateY(0.3rem);
  background-color: #4EA8DE;
}

#emailVerificadoMensagem .veri-email-container, .m-container, .isolate .container_header .header .header_title, .isolate .container_header .header .header_input .button, .isolate .main .main_content .content_header .content_task-create, .isolate .main .main_content .content_header .content_task-create .task-counter, .isolate .main .main_content .content_header .content_completed .completed-counter, .isolate .main .main_content .content_articles .tasks .trash, .isolate-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.isolate .main .main_content .content_articles .articles-void, .isolate-login .c-login, .isolate-login .c-login .form-control .form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.isolate .main .main_content .content_header .content_task-create .task-counter, .isolate .main .main_content .content_header .content_completed .completed-counter {
  background-color: #333333;
  width: 2.2rem;
  height: 2rem;
  border-radius: 50%;
  color: #D9D9D9;
}

#emailVerificadoMensagem .veri-email-container .veri-email-texto, .isolate .main .main_content .content_articles .articles-void .void-p, .isolate .main .main_content .content_articles .articles-void .void-small, .isolate-login .c-login .form-control .form-login .label-login {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 140%;
  font-weight: 700;
  font-style: normal;
}

.formLogin {
  position: absolute;
  top: 15px;
  right: 20px;
  width: auto;
  height: 10px;
  display: none;
  align-items: center;
  gap: 15px;
}
.formLogin .s-email {
  font-size: 1.2rem;
  color: white;
}
.formLogin .b-signOut {
  width: 9rem;
  height: 28px;
  background-color: #1E6F9F;
  border-radius: 0.8rem;
  border: 1px solid #0D0D0D;
  outline: none;
  color: white;
}
.formLogin .b-signOut:hover {
  transform: translateY(0.3rem);
  background-color: #4EA8DE;
}

#emailVerificadoMensagem .veri-email-container, .m-container, .isolate .container_header .header .header_title, .isolate .container_header .header .header_input .button, .isolate .main .main_content .content_header .content_task-create, .isolate .main .main_content .content_header .content_task-create .task-counter, .isolate .main .main_content .content_header .content_completed .completed-counter, .isolate .main .main_content .content_articles .tasks .trash, .isolate-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.isolate .main .main_content .content_articles .articles-void, .isolate-login .c-login, .isolate-login .c-login .form-control .form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.isolate .main .main_content .content_header .content_task-create .task-counter, .isolate .main .main_content .content_header .content_completed .completed-counter {
  background-color: #333333;
  width: 2.2rem;
  height: 2rem;
  border-radius: 50%;
  color: #D9D9D9;
}

#emailVerificadoMensagem .veri-email-container .veri-email-texto, .isolate .main .main_content .content_articles .articles-void .void-p, .isolate .main .main_content .content_articles .articles-void .void-small, .isolate-login .c-login .form-control .form-login .label-login {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 140%;
  font-weight: 700;
  font-style: normal;
}

.m-container {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 999;
  width: 190px;
  height: 84px;
  border-radius: 0.8rem;
  background-color: #1E6F9F;
}
.m-container .m-texto {
  color: white;
}

#emailVerificadoMensagem {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;
  z-index: 999;
}
#emailVerificadoMensagem .veri-email-container {
  animation: mensagemVerificaEmail 250ms linear;
  transition: all 100ms;
  height: 94px;
  border-radius: 0.8rem;
  padding: 8px;
  background-color: #1E6F9F;
}
#emailVerificadoMensagem .veri-email-container .veri-email-texto {
  color: white;
  animation: textInvisivel 350ms;
}

@keyframes mensagemVerificaEmail {
  from {
    width: 0px;
  }
  to {
    width: fit-content;
  }
}
@keyframes textInvisivel {
  0% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  75% {
    color: transparent;
  }
  100% {
    color: white;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #1A1A1A;
}

.isolate {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
